<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <title>Catalog App</title>
</head>
<body>
    <div class="header">
        <div class="app_name">
            <h1>Catalog App</h1>
        </div>
        <div class="logout">
            <a class="logout_logo" href='{{url_for('disconnect')
            }}'>Logout</a>
        </div>
    </div>
    <div class="main_area">
        <div class="info_center_area">
            <h2>{{item.title}} --- Creator: {{creator.name}}</h2>
            <p class="items">{{item.description}}</p>
        </div>
    </div>

</body>

</html>